.photo-column{
    background-color: aquamarine;
    height: 900px;
}

#photo-gallery{
    background-color: beige;
    height: 900px;
}

.photo-sm{
    height:200px;
    width:90%;
    background-color: bisque;
    margin-top: 20px;
    overflow:hidden;
}

.photo-big{
    height:480px;
    width:100%;
    background-color: cadetblue;
    margin-top: 20px;
    overflow:hidden;
}

@media (min-width:575.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 400px;
    }
}
@media (min-width:767.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 600px;
    }
}
@media (min-width:991.98px){
    .video{
        margin-top: 20px;
        width: 100%;
        height: 800px;
    }
}